.timpcon-logo {
  width: 218px;
  height: 53px;
  object-fit: contain;
  margin-left: 75px;
}

nav {
  height: 86px;
}

.bg-white {
  background-color: white !imporant;
}

.header-image {
  width: 100%;
}
