<div class="page-header-text" >Badges</div>
<img  class="responsive-image" src="../../assets/shop-windows-header-image.jpg"
     srcset="../../assets/shop-windows-header-image@2x.jpg 2x,
             ../../assets/shop-windows-header-image@3x.jpg 3x" height="235px" width="1144px">
<div class="badges-description">
	<div class="Convention-Badges">Convention Badges</div>
	<div class="badges-text">
		<p>TimpCon convention badges go on sale July 1, 2019</p>
		<p>Your badge gets you access to the huge ballroom of open gaming space, entry into gaming events, as well as the ability to check games out of our library.  The convention takes place October 19-20, 2018 at the Provo Convention Center in Provo, Utah.</p>
		<p>Advance registration saves you money versus buying at the door.</p>
		<p>Cost is just $25/badge</p>
	</div> 
</div>
<div class="container">
	<div class="row">
		<div class="mx-auto">
		  <a href="#" role="button" class="btn btn-outline-warning mx-auto">Purchase Badge</a>
		</div>
	</div>
</div>

<div class="horizontal-separator">
</div>
