<div class="page-header-text" >About TimpCon</div>
<img  class="responsive-image" src="../../assets/shop-windows-header-image.jpg"
     srcset="../../assets/shop-windows-header-image@2x.jpg 2x,
             ../../assets/shop-windows-header-image@3x.jpg 3x" height="235px" width="1144px">
<div class="timpcon-description">
  <div class="A-Convention-By-Game">A Convention By Gamers, For Gamers</div>
  <div class="The-goal-of-the-Timp">
    <p style="margin-bottom: 30px;">The goal of the TimpCon is to build the gaming community by bringing together players that would otherwise not get to meet up.  The Wasatch Front has a vibrant gaming community, with pockets stretching from North Salt Lake to Santaquin and all points between, so it's an ideal setting for a board game convention.  TimpCon is a way to bring anyone that loves board games together to find new games and new gaming friends.</p>
    <p>Primarily, TimpCon is about open gaming.  We offer thousands of square feet of gaming space and a game library that attendees can use.  Players are often checking out games and playing with strangers who are also interested in the game, making the convention an excellent way to meet people.  In addition to the open gaming, TimpCon runs tournaments, demos, and events during the weekend.  These have included a puzzle hunt, playtesting events for games in development, flea market, math trade, table flipping contest, and other great events.</p>
  </div>
</div>
