<nav class="navbar navbar-expand-md navbar-custom position-relative" style="z-index: 100;">
  <button class="navbar-toggler" style="float: right;" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <i class="fa fa-bars" style="color: white; padding: 0px;"></i>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Supporters
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/supporters">Supporters</a>
          <a class="dropdown-item" href="/sponsors">Sponsors</a>
		  <a class="dropdown-item" href="/game-library">Game Library</a>
          <a class="dropdown-item" href="/volunteers">Volunteers</a>
		  <a class="dropdown-item" href="/prize-sponsors">Prize Sponsors</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/badges">Badges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vendors">Vendors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/location">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <div class="social-media-icons">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <a href="https://www.facebook.com/timpconvention" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>