@media screen and (max-width: 1000px) {
  .page-header-text {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .page-header-text {
    margin-top: 110px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
  .page-header-text {
    margin-top: 140px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  .page-header-text {
    margin-top: 170px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1700px) {
  .page-header-text {
    margin-top: 220px;
  }
}

@media screen and (min-width: 1701px) and (max-width: 1900px) {
  .page-header-text {
    margin-top: 250px;
  }
}

@media screen and (min-width: 1901px) and (max-width: 2100px) {
  .page-header-text {
    margin-top: 270px;
  }
}

.REGISTRATION-Content {

  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.79 !important;
  letter-spacing: normal !important;
  color: #000000 !important;
}

.REGISTRATION-Content p {
	margin-bottom: 60px;

}

.REGISTRATION-Content .header {
  font-weight: 600;
}

.Utah-Valley-Header {
  height: 39px !important;
  font-family: Montserrat !important;
  font-size: 32px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #233042 !important;

  margin-bottom: 30px;
}

.convention-info {
	margin-top: 100px;
	margin-left: 75px;
}