<div class="page-header-text" >Location</div>
<img class="responsive-image" src="../../assets/location-header-image.jpg"
     srcset="../../assets/location-header-image@2x.jpg 2x,
             ../../assets/location-header-image@3x.jpg 3x" height="235px" width="1144px">
<div class="convention-info">
	<div class="Utah-Valley-Header">
	Utah Valley Convention Center
	</div>
	<div class="REGISTRATION-Content">
		<p>220 West Center Street, Provo Utah</p>
		
		<div class="header">REGISTRATION</div>
		<p>Content about registration can go here. Including times and location inside of the the Convention Center</p>
		
		<div class="header">LODGING</div>
		<p>Some lodging amenities close by can be listed here. Perhaps check with the Provo Marriott to see if they’d provide a discount rate that can be advertised here.</p>
		
		<div class="header">PARKING</div>
		<p>Check with the Convention Center to see where attendees can park without any city violations.</p>
		
		<div class="header">DINING</div>
		<p>List some local dinig establishments.</p>
		
		<div class="header">DIRECTIONS</div>
		<p>Coming from the North:</p>
		
		<p>Coming from the South:</p>
	</div>
</div>
