<div class="page-header-text" >Game Library</div>
<img  class="responsive-image" src="../../assets/game-library.jpg"
     srcset="../../assets/game-library@2x.jpg 2x,
             ../../assets/game-library@3x.jpg 3x" height="235px" width="1144px">
			 
<p class="game-library-intro">The TimpCon Game Library has hundreds of board games, card games, party games, role playing games, dexterity games, miniatures games and more!! Come check out a game to play during the convention. The Game Library is free to use for all TimpCon attendees.</p>

<div class="horizontal-separator"></div>

<h1 class="thank-game-library-sponsors-header">A big thank you to this years Game</h1>
<h1 class="thank-game-library-sponsors-header">Library Supporters:</h1>

<div class="game-library-sponsor">
	<p>To include a game into the the game librarty or to become a game library supporter, please contact us at <span class="sponsor-email">sponsorship@timpcon.org</span></p>
	
</div>
