#Be-A-Part-Of-Timpcon-Block {
  background-color: #233042;
  height: 275px;
  margin-top: -38px;
}

#Be-a-Part-of-TimpCon-Header {
  margin-left: 75px;
  padding-top: 50px;
  position: relative;
  font-family: Montserrat !important;
  font-size: 32px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #f89f20 !important;
}

#Be-a-Part-of-TimpCon-Paragraph {
  margin-left: 75px;
  margin-right: 75px;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.67 !important;
  letter-spacing: normal !important;
  color: #ffffff !important;
}

#TimpCon-Sponsor-Email {
  color: #f89f20;	
}