<div class="page-header-text" >Supporters</div>
<img  class="responsive-image" src="../../assets/shop-windows-header-image.jpg"
     srcset="../../assets/shop-windows-header-image@2x.jpg 2x,
             ../../assets/shop-windows-header-image@3x.jpg 3x" height="235px" width="1144px">
<div id="Be-A-Part-Of-Timpcon-Block">
	<div class="container">
		<p id="Be-a-Part-of-TimpCon-Header">Be a Part of TimpCon</p>
		<p id="Be-a-Part-of-TimpCon-Paragraph"> TimpCon is a fantastic opportunity for Publishers and Stores to sell, advertise and network with customers and colleagues alike. Demo your Hottest titles! Get a first-hand look at exactly what families and gamers want. There are many ways to become a part of TimpCon as an Exhibitor, Title Sponsor, Game Library Supporter , Prize Sponsor, a Volunteer, and more. Please contact us for more info at <span id="TimpCon-Sponsor-Email">sponsorship@timpcon.org</span>.</p>
	</div>
</div>