/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.responsive-image {
  height: auto;
  width:100%;
  z-index: -1;
  margin-top:-30px;
  position: relative;
  
}

.page-header-text {
  position: absolute;
  margin-left: 75px;
  font-family: Montserrat !important;
  font-size: 40px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: -0.5px !important;
  color: #ffffff !important;
}
