/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.responsive-image {
  height: auto;
  width:100%;
  z-index: -1;
  margin-top:-30px;
  position: relative;
  
}

.page-header-text {
  position: absolute;
  margin-left: 75px;
  font-family: Montserrat !important;
  font-size: 40px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: -0.5px !important;
  color: #ffffff !important;
}

.btn-outline-warning {
	border-color: #f89f20 !important;
  color: #f89f20 !important;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border-width: 2px !important;
  padding: 10px !important;
  border-radius: 0px !important;
}

.btn-outline-warning:hover {
  background-color: #f89f20 !important;
  color: #ffffff !important
}

.btn-outline-warning:focus {
  box-shadow: none !important;
}

.btn-outline-info {
  border-color: #14a1b8 !important;
  color: #14a1b8 !important;
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border-width: 2px !important;
  padding: 10px 70px 10px 70px !important;
  border-radius: 0px !important;
}

.btn-outline-info:hover {
  background-color: #14a1b8 !important;
  color: #ffffff !important	
}

.btn-outline-info:focus {
  box-shadow: none !important;
}

.horizontal-separator {
	height: 1px;
	background-color: #979797;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 75px;
	margin-right: 75px;

}
