#What-Is-TimpCon-Block {
  background-color: #ffffff;
  height: 260;
  margin-left: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#What-Is-Letters {
  font-family: Montserrat !important;
  font-size: 19px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #f89f20 !important;
}

#TimpCon-Letters {
  font-family: Montserrat !important;
  font-size: 51px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: -0.5px !important;
  color: #233042 !important;
}

#TimpCon-Description {
  width: 605px;
  height: 50px;
  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.79 !important;
  letter-spacing: normal !important;
  color: #000000 !important;	
}

#Keep-Updated-Block {
  background-color: #307dc0;
  height: 290px;
}

.Keep-Updated {
  font-family: Montserrat !important;
  font-size: 33px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  text-align: center !important;
  color: #ffffff !important;
  padding-top: 70px;
}

.Know-all-the-latest {
  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.79 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #ffffff !important;
  padding: 5px;
}

#Creators-block {
  padding-top:50px;
  padding-bottom:50px;
  background-color: #233042;
}

#Creators-Header {
    font-family: Montserrat !important;
    font-size: 20px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #f89f20 !important;
	padding-left: 20px;
}

@media screen and (max-width: 1200px) {
  #Creators-Header {
    	padding-left: 0px !important;
  }
}



.Creators-Name {
  font-family: Montserrat !important;
  font-size: 15px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.67 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  color: #ffffff !important;
}

input[type=text] {
  padding: 13px !important;
  width: 320px !important;
  border: 1px solid #ffffff !important;
  box-sizing: border-box;
  font-family: Montserrat !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

input[type=submit]#email-list-submit {
  padding: 13px !important;
  width: 90px !important;
  background-color: #233042 !important;
  border: 1px solid #233042 !important;
  color: #ebbc1d !important;
  font-family: Montserrat !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}
