
<video height="290" class="timpcon-video" style="margin-top: 20px; position: absolute; left: 21%;" controls>
  <source src="../../assets/TC_Promo_Vid.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<img class="responsive-image" src="../../assets/home-header-image.jpg"
     srcset="../../assets/home-header-image@2x.jpg 2x,
             ../../assets/home-header-image@3x.jpg 3x" height="441px" width="960px">		 

<div id="What-Is-TimpCon-Block">
	<div id="What-Is-Letters">What is</div>
	<div id="TimpCon-Letters">TimpCon</div>
	<div id="TimpCon-Description">Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.</div>
</div>
			 
<div id="Creators-block">
  <div class="container">
	<p id="Creators-Header">Meet the Creators</p>
	<div class="row">
		<figure class="figure mx-auto">
		  <img src="../../assets/profile_80.jpg" class="figure-img img-fluid" alt="image">
		  <figcaption class="figure-caption text-center Creators-Name">Kolby</figcaption>
		</figure>
		<figure class="figure mx-auto">
		  <img src="../../assets/profile_80.jpg" class="figure-img img-fluid" alt="image">
		  <figcaption class="figure-caption text-center Creators-Name">Bryce</figcaption>
		</figure>
		<figure class="figure mx-auto">
		  <img src="../../assets/profile_80.jpg" class="figure-img img-fluid" alt="image">
		  <figcaption class="figure-caption text-center Creators-Name">Kevin</figcaption>
		</figure>
		<figure class="figure mx-auto">
		  <img src="../../assets/profile_80.jpg" class="figure-img img-fluid" alt="image">
		  <figcaption class="figure-caption text-center Creators-Name">David</figcaption>
		</figure>
		<figure class="figure mx-auto">
		  <img src="../../assets/profile_80.jpg" class="figure-img img-fluid" alt="image">
		  <figcaption class="figure-caption text-center Creators-Name">Eric</figcaption>
		</figure>
	</div>
  </div>
</div>

<div id="Keep-Updated-Block">
  <div class="Keep-Updated">Keep Updated</div>
  <p class="Know-all-the-latest">Know all the latest info about TimpCon by joining our email list</p>
  <div class="row justify-content-center align-items-center">
    <form action="/action_page.php">
      <div class="form-group">
        <input type="text" id="fname" name="firstname" placeholder="Your Email Address">
        <input type="submit" id="email-list-submit" value="Sign Up">
      </div>
    </form>
  </div>
</div>
