<div class="page-header-text" >Sponsors</div>
<img  class="responsive-image" src="../../assets/shop-windows-header-image.jpg"
     srcset="../../assets/shop-windows-header-image@2x.jpg 2x,
             ../../assets/shop-windows-header-image@3x.jpg 3x" height="235px" width="1144px">

<p class="sponsor-into-paragraph">A paragraph or two about the role sponsors play in TimpCon can go here. If there are varying levels of sponsorship along with their costs, that can be mentioned here as well. A paragraph or two about the role sponsors play in TimpCon can go here. If there are varying levels of sponsorship along with their costs, that can be mentioned here as well.</p>

<div class="horizontal-separator"></div>

<h1 class="sponsor-thank-you-header">A big thank you to this years sponsors:</h1>

<div class="To-become-a-sponsor">
	<p>To become a sponsor, please contact us at</p>
	<p class="sponsor-email">sponsorship@timpcon.org</p>
</div>
