<div class="page-header-text" >Volunteers</div>
<img  class="responsive-image" src="../../assets/volunteer-header-image.jpg"
     srcset="../../assets/volunteer-header-image@2x.jpg 2x,
             ../../assets/volunteer-header-image@3x.jpg 3x" height="235px" width="1144px">
	
	
<div class="volunteer-intro ">
	<p>Without great volunteers TimpCon wouldn’t be possible. We are looking for outgoing, energetic people who are passionate about sharing the board game hobby to volunteer for TimpCon! As TimpCon grows, we need even more help to bring it all together.  We have several positions for volunteers. <span class="application-info">Volunteer application deadline is: September 15, 2018</span></p>
</div>

<div class="horizontal-separator">
</div>
	
<div class="volunteer-jobs">

	<p><span class="volunteer-jobs-header">REGISTRATION DESK:</span> Greet attendees as they arrive at the convention, give them directions, and answer any questions they have.  Help them to get their badges and swag, and find the best parts of the convention!</p>
	<p><span class="volunteer-jobs-header">GAME LIBRARY:</span> Put your board game knowledge to use!  Help check games in and out of the game library.  Keep the shelves organized, and help players find just the right game for their group!  Offer suggestions, and make sure everyone finds what they want to play.</p>
	<p><span class="volunteer-jobs-header">PLAY TO WIN LIBRARY:</span> Help aspiring players check games in and out of the Play-to-Win library, and enter players into the system for a chance to win any games they play!</p>
	<p><span class="volunteer-jobs-header">RUNNER:</span> Make the rounds of the convention, keeping things straight, and helping attendees find what they are looking for.  Runners will also be filling in for other shifts where extra help is needed.</p>
	<p><span class="volunteer-jobs-header">Full! HOT SQUAD!:</span> We have an area of the convention called Hot Games, where we pick some of the most popular and hard to find titles, and leave them setup all convention long for attendees to enjoy.  The Hot Squad is a group of volunteers that are dedicated to having a teacher available for all of these games all day.  We only have 10 positions available for the Hot Squad, and you must be able to commit to a V16.  You must learn a set number of the Hot Games that are chosen, and be prepared to teach them well!</p>
	<p><span class="volunteer-jobs-header">Full! GAME MASTER:</span> We are looking for more volunteers to run Role-Playing Game sessions!  If you are experienced as a game master, and passionate about exploring worlds and creating a story together, we need your help!</p>
</div>

<div class="horizontal-separator">
</div>
